body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfaf6; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#fdebbf;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
   
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: -10px;
}

.dropdown-content a:hover {
    background-color:  #b8ed83;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    color: white;
}

nav {
    background-color: #64ce3a;
    font-size: large;
    padding:  30px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    padding: 20px;
}

section {
    padding: 20px;
}

header h1 {
    text-align: center;
}

section h1 {
    text-align: center;
    
}

section h2 {
    text-align: center;
}

section ul {
    text-align: center;
}


.food-images {  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.food-images img {
    width: 280px;
    height: 180px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-size: small;
}



