body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
nav {
    background-color: #64ce3a;
    font-size: larger;
    padding:  20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f8f8f8;
}


nav ul {
    list-style-type: none;
    text-align: center;
    display: inline-block; /* Add this to make the search button inline */
    margin-right: 20px; /* Add margin to separate it from the other buttons */
}

nav ul form {
    display: inline-block; /* Make the form inline */
}

nav ul form button[type="submit"] {
    background-color: #47c70c; 
    color: #fff; 
    border: none; 
    padding: 10px;
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 0; /* Remove the margin-top */
    margin-left: 20px; /* Add margin to separate it from the other buttons */
}



.snack {
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.snack img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 40px; /* 20px top and bottom, 10px left and right */
}

.snack h2 {
    margin-top: 10px;
}

.snack p {
    margin: 5px 0;
    font-size: 16px;
}

.snack button {
    padding: 8px 16px;
    background-color: #40ba30;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.snack button:hover {
    background-color: #3d3c3c;
}

